/* Header styles */
header {
    background-color: #2A9D8F;
    margin: auto;
    width: 1440px;
    padding: 38px 130px;
}

/* Logo image styles */
.logoImg {
    display: inline-block;
    vertical-align: middle;
    margin-right: 845px;
}

/* Navigation styles */
.headerNav {
    display: inline-block;
    vertical-align: middle;
}

/* List items in navigation */
.headerNav li {
    display: inline-block;
}

/* Post nav element styles */
.postNav {
    margin-inline: 51px;
}

/* Navigation links styles */
.navLink {
    color: #FFFFFF;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.1px;
    font-style: normal;
    font-weight: 400;
    font-family: 'Nerko One', sans-serif;
}

/* Article styles */
.article1 {
    width: 780px;
    margin: 200px auto;
}

/* Article title styles */
.articleTitle {
    color: #4D4D4D;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 0.24px;
}

/* Article text styles */
.articleText1,
.articleText2 {
    color: #656565;
    text-align: justify;
    font-family: 'Nerko One', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.1px;
}

/* Article first text styles */
.articleText1 {
    margin-top: 60px;
    margin-bottom: 52px;
}

/* First section styles */
.section1 {
    width: 1440px;
    margin: 0 auto;
    padding: 80px 130px;
    background-color: #C2F3EE;
}

/* Section1 tree image styles */
.treeImg {
    width: 600px;
    height: 560px;
    vertical-align: top;
}

/* Section1 article styles */
.sect1Article {
    width: 457px;
    margin-left: 110px;
    display: inline-block;
    vertical-align: top;
}

/* Section1 title styles */
.sect1Title {
    color: #272727;
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: 0.16px;
}

/* Section1 text styles */
.sect1Text {
    color: #515151;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.09px;
    margin-top: 27px;
    margin-bottom: 45px;
}

/* Section1 butto styles */
.sect1Button {
    padding: 11px 16px;
    background-color: #2A9D8F;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    border: none;
}

/* Section2 container styles */
.section2 {
    margin: 200px auto;
    width: 1180px;
}

/* Title styles within Section2 */
.section2Title {
    text-align: center;
    color: #4D4D4D;
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 0.24px;
    margin-bottom: 54px;
}

.section2Div1,
.section2Div2 {
    display: inline-block;
    vertical-align: top;
}

/* Styles for the second div within Section2 */
.section2Div2 {
    margin-left: 16px;
}

/* Text styles within Section2 */
.sect2Text {
    margin-top: 32px;
    color: #535353;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.12px;
}

/* Footer syles */
footer {
    width: 1440px;
    margin: 0 auto;
    background-color: #2A9D8F;
    padding: 90px 130px;
}

/* Footer logo */
.footerLogo {
    display: inline-block;
    vertical-align: top;
    background-color: #2A9D8F;
    margin-right: 920px;
}

/* Footer navgiation bar styles */
.footerNav {
    display: inline-block;
    vertical-align: top;
}

/* Styles of title inside footer navigation bar */
.footerNav h2 {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 21px;
}

/* Footer navigation bar links */
.footerLink {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
}

/* Middle list item */
.termsLi {
    margin-block: 8px;
}