/* Header styles */
header {
    background-color: #2A9D8F;
    margin: auto;
    width: 1440px;
    padding: 38px 130px;
}

/* Logo image styles */
.logoImg {
    display: inline-block;
    vertical-align: middle;
    margin-right: 845px;
}

/* Navigation styles */
nav {
    display: inline-block;
    vertical-align: middle;
}

/* List items in navigation */
li {
    display: inline-block;
}

/* Post nav element styles */
.postNav {
    margin-inline: 51px;
}

/* Navigation links styles */
.navLink {
    color: #FFFFFF;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.1px;
    font-style: normal;
    font-weight: 400;
    font-family: 'Nerko One', sans-serif;
}

/* Article styles */
article {
    width: 780px;
    margin: 200px auto;
}

/* Article title styles */
.articleTitle {
    color: #4D4D4D;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 0.24px;
}

/* Article text styles */
.articleText1,
.articleText2 {
    color: #656565;
    text-align: justify;
    font-family: 'Nerko One', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.1px;
}

/* Article first text styles */
.articleText1 {
    margin-top: 60px;
    margin-bottom: 52px;
}